{% extends 'base.html.twig' %}
{% block title %}Menu Admin{% endblock %}
{% block body %}
    <div class="container" style="margin-top :10px">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2"></div>
            <div class="col-xs-8 col-sm-8">
                <div class="panel my-panel">
                    <div class="panel-heading text-center">Menu des centres D'intérets</div>
                    <div class="panel-body my-panel-body">
                        <div class="form-group">
                            <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_groupe_index') }}" >Gerer les groupes</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('typegroupe_index') }}" >Gerer les types de groupes</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_personne_index') }}" >Gerer les personnes</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_statut_index') }}" >Gerer les Statuts</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('menuAdmin') }}" >Retour</a>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}