{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriecentreinteret</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieCentreInteret.id }}</td>
            </tr>
            <tr>
                <th>Libcat</th>
                <td>{{ categorieCentreInteret.libCat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_categoriecentreinteret_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_categoriecentreinteret_edit', { 'id': categorieCentreInteret.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
