{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="margin-top :10px">

            <nav class="navbar navbar-default">
                {{ render(controller('AppBundle:Default:search')) }}
            </nav>
            <div class="row">
                <div class="col-xs-1 col-sm-1"></div>
                <div class="col-xs-10 col-sm-10">
                    <div class="jumbotron">
                    <h1>Liste des centres d'intérêts</h1>
                    <hr>
                    {% for unCatCentreInteret in categoriesCentreInteret %}
                        <div class="row">
                            {% for unCentreInteret in centresInterets %}
                                {% if unCentreInteret.Categorie == unCatCentreInteret  %}
                                    <div class="col-xs-2 col-sm-2">
                                        <h2>{{ unCatCentreInteret.libCat}}</h2>
                                        <hr>
                                        {% for unePhoto in unCentreInteret.photos %}
                                            {% if unePhoto.type == "photoPreview"  %}
                                                <div class="panel panel" style="border-color: black; ">
                                                    <div class="panel-body"  >
                                                        <a href="{{ path('centreinteret_voirPlus', { 'id': unCentreInteret.id }) }}"><img src=" {{ asset('uploads/') }}{{ unePhoto.lienPhoto }}" title="{{ unCentreInteret.titre}}" class="img-circle" alt="Responsive image" style="height: 100px ;width: 100px;border-color: black; " />
                                                            <hr>
                                                            <!--{{ unCentreInteret.titre }}-->
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            {% else %}
                                <li><em>Il y a aucun centre d'intérêt</em></li>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            </div>

    </div>
{% endblock %}
