{% extends 'base.html.twig' %}
{% block title %}Liste de groupes{% endblock %}
{% block body %}
    <div class="container" style="margin-top :10px">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1"></div>
            <div class="col-xs-10 col-sm-10">
                <div class="panel my-panel">
                    <div class="panel-heading text-center"><h2>Liste de groupes</h2></div>
                    <div class="panel-body my-panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>type</th>
                                <th>Afficher</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for groupe in groupes %}
                                <tr>
                                    <td>{{ groupe.id }}</td>
                                    <td>{{ groupe.nom }}</td>
                                    <td>{{ groupe.typeGroup.libelle }}</td>
                                    <td><a class="btn btn-danger " type="button" href="{{ path('admin_groupe_show', { 'id': groupe.id}) }}">Afficher</a></td>
                                    <td><a class="btn btn-danger " type="button" href="{{ path('admin_groupe_edit', { 'id': groupe.id }) }}">Modifier</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_groupe_new') }}">Créer
                            un nouveau groupe</a>
                        <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('menuAdmin') }}">Retour</a>
                    </div>

                </div>
            </div>
            <div class="col-xs-1 col-sm-1"></div>
        </div>
    </div>
{% endblock %}
