{% extends 'base.html.twig' %}
{% block title %}Liste de personnes{% endblock %}
{% block body %}
    <div class="container" style="margin-top :10px">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1"></div>
            <div class="col-xs-10 col-sm-10">
                <div class="panel my-panel">
                    <div class="panel-heading text-center"><h2>Liste de personnes</h2></div>
                    <div class="panel-body my-panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Biographie</th>
                                <th>Photo</th>
                                <th>Afficher</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personne in personnes %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_personne_show', { 'id': personne.id }) }}">{{ personne.id }}</a>
                                    </td>
                                    <td>{{ personne.nom }}</td>
                                    <td>{{ personne.prenom }}</td>
                                    <td>{{ personne.biographie }}</td>
                                    <td>
                                        {{ personne.photo }}
                                        {% if not personne.photo is empty %}
                                            <img src=" {{ asset('uploads/') }}{{ personne.photo }}" style="width: 50px;height:50px"/>
                                        {% endif %}
                                    <td><a class="btn btn-danger " type="button" href="{{ path('admin_personne_show', { 'id': personne.id }) }}">Afficher</a>
                                    </td>
                                    <td><a class="btn btn-danger " type="button" href="{{ path('admin_personne_edit', { 'id': personne.id  }) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_personne_new') }}">Créer une personne</a>
                        <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('menuAdmin') }}">Retour</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1"></div>
        </div>
    </div>
{% endblock %}
