{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fairepartistatuts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fairePartiStatut in fairePartiStatuts %}
            <tr>
                <td><a href="{{ path('admin_faire_parti_statut_show', { 'id': fairePartiStatut.id }) }}">{{ fairePartiStatut.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_faire_parti_statut_show', { 'id': fairePartiStatut.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_faire_parti_statut_edit', { 'id': fairePartiStatut.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_faire_parti_statut_new') }}">Create a new fairePartiStatut</a>
        </li>
    </ul>
{% endblock %}
