{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fairepartistatut</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fairePartiStatut.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_faire_parti_statut_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_faire_parti_statut_edit', { 'id': fairePartiStatut.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
