{% trans_default_domain 'FOSUserBundle'%}
{% extends 'base.html.twig' %}
{% block title %}utilisateur{% endblock %}
{% block body %}
    <div class="container" style="margin-top :10px">
        <div class="row">
            <div class="col-xs-1 col-sm-1"></div>
            <div class="col-xs-10 col-sm-10">
                <div class="panel my-panel">
                    <div class="panel-heading text-center"><h1>Utilisateur {{ user.username }}</h1></div>
                    <div class="panel-body my-panel-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>#Id</th>
                                <th>Nom</th>
                                <th>@Email</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td> <a class="btn btn-danger " type="button" href="{{ path('user_edit', { 'id': user.id }) }}" >Editer</a></td>
                                <td>{{ form_start(delete_form) }}
                                    {{ form_widget(delete_form) }}
                                    <input class="btn btn-danger " type="submit" value="Supprimer">
                                    {{ form_end(delete_form) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('user_index') }}" >Retour à la liste</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1"></div>
        </div>
    </div>
{% endblock %}
