{{% extends 'base.html.twig' %}
{% block title %}Liste des centres d'intérêts{% endblock %}
{% block body %}
<div class="container" style="margin-top :10px">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-sm-10">
            <div class="panel panel-danger">
                <div class="panel-heading text-center"><h2>Liste des centres d'intérêts</h2></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Afficher</th>
                            <th>Modifier</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for centreInteret in centreInterets %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_centreinteret_show', { 'id': centreInteret.id }) }}">{{ centreInteret.id }}</a>
                            </td>
                            <td>{{ centreInteret.titre }}</td>
                            <td>{{ centreInteret.description }}</td>
                            <td><a class="btn btn-danger " type="button" href="{{ path('admin_centreinteret_show', { 'id': centreInteret.id }) }}">Afficher</a>
                            </td>
                            <td><a class="btn btn-danger " type="button" href="{{ path('admin_centreinteret_edit', { 'id': centreInteret.id }) }}">Modifier</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('admin_centreinteret_new') }}">Créer un centre d'intérêt</a>
                    <a class="btn btn-danger btn-lg btn-block" type="button" href="{{ path('menuCentreInteret') }}">Retour</a>
                </div>

            </div>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
    </div>
</div>
{% endblock %}
