{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centreinteret</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centreInteret.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ centreInteret.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ centreInteret.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_centreinteret_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_centreinteret_edit', { 'id': centreInteret.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
